* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Bebas;
    src: url(BebasNeue-Regular.ttf)
}

@font-face {
    font-family: DM Sans;
    src: url(DMSans-VariableFont_opsz\,wght.ttf)
}

h1, h2 {
    font-family: Bebas;
}

body {
    background-image: url(fondatom.jpg);
    background-position: center;
    font-family: DM Sans;
}

h1 {
    background-color: white;
    padding: 5px;
    border: 2px solid #419F89;
}

/* Début navbar + query */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

nav p {
    display: inline;
    margin-left: 5px;
}

nav img {
    width: 50px;
}

@media screen and (max-width:600px) {
    nav p {
        display: none;
    }

    header h1 {
        display: none;
    }
}
header {
    padding: 12%;
    background-image: url(paysage\ atom.jpg);
    background-size: cover;
    border-bottom: 2px solid black;
    /* largeur img a checker en mobile */
}

header h1 {
    text-align: center;
    font-size: 50px;
    background-color: rgba(255, 255, 255, .75);
    border: none;
    margin: 0 25%;
}

.titre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5%;
}

.titre h1 {
    margin-left: 10px;
}

.titre img {
    width: 60px;
}

.titre a {
    color: black;
}
.desc {
    margin: 5% 7%;
    background-color: white;
    padding: 5px;
    border: 2px solid #419F89;
}

#jeux {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#jeux p {
    background-color: white;
    padding: 5px;
    border: 2px solid #419F89;
}

.genre {
    display: inline-block;
    text-align: center;
    box-shadow: 10px 5px 5px #61BEA9;
    transition: all 0.2s ease-out;
}

#jeux a {
    text-decoration: none;
    color: black;
}

.genre img {
    width: 200px;
    border: 2px #000000 solid;
}

.genre:hover {
    box-shadow: 20px 10px 10px #61BEA9;
}

@media screen and (max-width:600px) {
    #jeux {
        display: block;
    }

    .genre {
        display: block;
        margin: 5%;
        padding: 10px;
        box-shadow: none;
        transition: none;
    }
    .genre:hover {
        box-shadow: none;
    }
}

.overlay {
    position: absolute; /* position absolue pour couvrir toute la fenêtre */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* fond noir et semi-transparent */
    transition: opacity 200ms; /* effet de transition sur l'opacité, comme indiqué plus haut avec "transition" */
    visibility: hidden; /* rend l'overlay invisible par défaut */
    opacity: 0; /* opacité initiale à 0 */
  }
  
  .overlay:target {
    visibility: visible; /* rend l'overlay visible */
    opacity: 1; /* opacité maximale */
  }

  .modal {
    display: flex;
    width: 500px;
    height: 400px;
    margin: 75px auto;
    background: #fff;
    border: 2px solid #419F89;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    /* position: relative; position relative à la position de départ de la div contenant cette classe */
    position: relative;
    bottom: 0;
  }
  
  .modal .close {
    position: absolute; /* position absolue par rapport au modal */
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    text-decoration: none;
    color: #666;
  }
  
  .modal .content {
    max-height: 400px; /* hauteur maximale de 400 pixels */
    overflow: auto; /* activation du défilement si le contenu dépasse la hauteur maximale (avec un lorem ipsum bien cahrgé par exemple) */
  }

  .bouton {
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    background-color: white;
}

.bouton a {
    text-decoration: none;
    color: #000000;
}

.bouton img {
    width: 250px;
    height: 400px;
}

.text {
    padding: 10px;
}

.img {
    height: 300px;
}

.text h1 {
    margin-bottom: 10px;
}

footer {
    border-top: 2px solid black;
    background-color: white;
}

footer p {
    text-align: center;
    padding: 10px;
}

footer img {
    width: 40px;
    padding: 10px;
}

footer a {
    color: black;
}

#reseaux {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px) {
 #pc {
    display: none;
 }
}

@media screen and (min-width:601px) {
    #mobileOnly {
        display: none;
}
}


