* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Bebas;
    src: url(BebasNeue-Regular.ttf)
}

@font-face {
    font-family: DM Sans;
    src: url(DMSans-VariableFont_opsz\,wght.ttf)
}

h1, h2 {
    font-family: Bebas;
}

body {
    background-image: url(abstract_pattern_design_background_2007.jpg);
    background-size: cover;
    font-family: DM Sans;
}

h1 {
    background-color: white;
    padding: 5px;
    border: 2px solid #471855;
}

/* Début navbar + query */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

nav p {
    display: inline;
    margin-left: 5px;
}

nav img {
    width: 50px;
}

@media screen and (max-width:600px) {
    nav p {
        display: none;
    }

    header h1 {
        display: none;
    }
}

header {
    padding: 12%;
    background-image: url(brat\ paysage.jpg);
    background-size: cover;
    border-bottom: 2px solid black;
    /* largeur img a checker en mobile */
}

header h1 {
    text-align: center;
    font-size: 50px;
    background-color: white;
    border: none;
    margin: 0 25%;
}

.titre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5%;
}

.titre h1 {
    margin-left: 10px;
}

.titre img {
    width: 60px;
}

.titre a {
    color: black;
}

.desc {
    margin: 5% 7%;
    background-color: white;
    padding: 5px;
    border: 2px solid #471855;
}

#Affiches {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.groupe {
    display: inline-block;
    text-align: center;
}

.groupe img {
    width: 300px;
    border: 2px black solid;
}

@media screen and (max-width:600px) {
    #Affiches {
        display: block;
    }
    .groupe {
        display: block;
        margin: 5%;
        padding: 10px;
    }
}

footer {
    border-top: 2px solid black;
    background-color: white;
}

footer p {
    text-align: center;
    padding: 10px;
}

footer a {
    color: black;
}

footer img {
    width: 40px;
    padding: 10px;
}

#reseaux {
    display: flex;
    justify-content: center;
}